%tr
  %td
    = menu.id
  %td
    %a.nav-link{:href => menu_path(id: menu.id)} Show
  %td
    = menu.name
  %td
    = menu.sponsor
  %td
    %a.nav-link{:href => menus_path(venue: params[:venue], term: params[:term], event: menu.event, place: params[:place])}= menu.event
  %td
    %a.nav-link{:href => menus_path(venue: menu.venue, term: params[:term], event: params[:event], place: params[:place])}= menu.venue

  %td
    %a.nav-link{:href => menus_path(venue: params[:venue], term: params[:term], event: params[:event], place: menu.place)}= menu.place
  %td= menu.physical_description
  %td= menu.occasion
  %td= menu.notes
  %td= menu.call_number
  %td= menu.keywords
  %td= menu.language
  %td= menu.date
  %td= menu.location
  %td= menu.location_type
  %td= menu.currency
  %td= menu.currency_symbol
  %td= menu.status
  %td= menu.page_count
  %td= menu.dish_count
