%tr
  %td
    = menu.id
  %td
    = menu.name
  %td
    = menu.sponsor
  %td= menu.event
  %td= menu.venue
  %td= menu.place
  %td= menu.physical_description
  %td= menu.occasion
  %td= menu.notes
  %td= menu.call_number
  %td= menu.keywords
  %td= menu.language
  %td= menu.date
  %td= menu.location
  %td= menu.location_type
  %td= menu.currency
  %td= menu.currency_symbol
  %td= menu.status
  %td= menu.page_count
  %td= menu.dish_count
