.row
  .col-md
    %h2 Menus
.row
  .col-md
    = form_tag import_menus_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import", class: "btn btn-sm btn-secondary"

.row
  .col-md
    = form_tag(menus_path, method: :get) do
      - if params[:start_date].present? && params[:end_date].present?
        - start_date = Date.civil(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i)
        - end_date = Date.civil(params[:end_date][:year].to_i, params[:end_date][:month].to_i, params[:end_date][:day].to_i)
      - else
        - start_date = Date.today - 10.years
        - end_date = Date.today
      = select_date start_date , prefix: :start_date, start_year: 1900
      = "TO"
      = select_date end_date, prefix: :end_date, start_year: 1950
      = hidden_field_tag :term, params[:term]
      = hidden_field_tag :venue, params[:venue]
      = hidden_field_tag :event, params[:event]
      = hidden_field_tag :place, params[:place]
      = submit_tag 'Filter', class: "btn btn-sm btn-secondary"

  .col-md
    = form_tag(menus_path, method: :get) do
      = text_field_tag :term, params[:term]
      = submit_tag 'Search', class: "btn btn-sm btn-secondary"
.row
  .col-md

    = form_tag(export_menus_path(start_date: filtering_params[:start_date], end_date: filtering_params[:end_date])) do
      = hidden_field_tag :term, params[:term]
      = hidden_field_tag :venue, params[:venue]
      = hidden_field_tag :event, params[:event]
      = hidden_field_tag :place, params[:place]
      = submit_tag 'Export Menus', class: "btn btn-sm btn-secondary"
.row
  .col-md
    = will_paginate @menus
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th=sort_link "id", "ID"
        %th Action
        %th=sort_link "Name"
        %th=sort_link "Sponsor"
        %th=sort_link "Event"
        %th=sort_link "Venue"
        %th=sort_link "Place"
        %th=sort_link "Physical Description"
        %th=sort_link "Occasion"
        %th=sort_link "Notes"
        %th=sort_link "Call_number"
        %th=sort_link "Keywords"
        %th=sort_link "Language"
        %th=sort_link "Date"
        %th=sort_link "Location"
        %th=sort_link "Location Type"
        %th=sort_link "Currency"
        %th=sort_link "Currency Symbol"
        %th=sort_link "Status"
        %th=sort_link "Page Count"
        %th=sort_link "Dish Count"
    %tbody
      - if @menus.present?
        = render(partial: "menu", collection: @menus)
      - else
        %tr
          = "There's no menu to be displayed"

.row
  .col-md
    = will_paginate @menus