%tr
  %td
    = menu_item.id
  %td
    = menu_item.menu_page_id
  %td
    = menu_item.price
  %td= menu_item.high_price
  %td= menu_item.dish_id
  %td= menu_item.xpos
  %td= menu_item.ypos
  %td= menu_item.created_at
  %td= menu_item.updated_at
