%tr
  %td
    = dish.id
  %td
    = dish.name
  %td
    = dish.description
  %td= dish.menus_appeared
  %td= dish.times_appeared
  %td= dish.first_appeared
  %td= dish.last_appeared
  %td= dish.lowest_price
  %td= dish.highest_price
